.homeMainContainer{
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.HomeHeroSection{
  width: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
  padding: 60px 80px; 
  gap: 40px;


  background:
  linear-gradient(
    155deg,
    transparent 60%,
    #e4e8ee 61%
  ),
  linear-gradient(
    to bottom,
    #f5f7fa 0%,
    #f5f7fa 85%,
    #e4e8ee 85%
  );
}

.HomeHeroImg {
  width: 400px;
  filter: drop-shadow(0px 40px 25px rgba(0, 0, 0, 0.322));
}

.HomeHeroSectionInfo{
  max-width: 500px;
  position: relative;
  top: -40px;
  text-align: left;
}

.HomeHeroSectionInfo h1{
  font-size: 30px;
  margin-bottom: 10px;
  color: #213557;
  font-weight: 800;
}

.HomeHeroSectionInfo p{
  font-size: 17px;
  color: #555;
}

.HomeHeroSectionInfoSale{
  font-weight: 600;
  color: #213557;
  font-style: italic;
  font-size: 27px;
}

.HomeHeroSectionInfoProcent{
  font-size: 40px;
  font-style: italic;
  color: rgb(40, 39, 39);
}

.HomeProductsSection {
  width: 100%;
  box-sizing: border-box;
  padding: 70px 80px;
}
.HomeProducts {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 300px));
  gap: 30px;
  max-width: 1400px;
  margin: 0 auto;
  justify-content: center;
}

.HomeProductsHead {
  grid-column: 1 / -1;
  margin-bottom: 0;
  font-size: 32px;
  color: #213557;
}

.HomeProductsOffer{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;

  background:
  linear-gradient(
    355deg,
    transparent 60%,
    #e4e8ee 61%
  ),
  linear-gradient(
    to bottom,
    #21355765 0%,
    #f8fafd 85%,
    #f8f9fafc 85%
  );
}

