.homeMainContainer{
    display: flex;
    flex-direction: column;

    /* ❌ ta bort center */
    align-items: stretch;
}

/* 🔥 HERO */
.HomeHeroSection{
    width: 100%;
    box-sizing: border-box;

    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;

    padding: 60px 80px; /* mer luft = mer pro */
    gap: 40px;

    /* din bakgrund fixad */
    background:
      linear-gradient(
        155deg,
        transparent 60%,
        #e4e8ee 61%
      ),
      linear-gradient(
        to bottom,
        #f5f7fa 0%,
        #f5f7fa 85%,
        #e4e8ee 85%
      );
}

/* 🔥 IMAGE */
.HomeHeroImg {
  width: 420px;
  filter: drop-shadow(0px 40px 25px rgba(0, 0, 0, 0.322));
}

/* TEXT */
.HomeHeroSectionInfo{
    max-width: 500px;
    position: relative;
    top: -40px;
    text-align: left;
}

.HomeHeroSectionInfo h1{
    font-size: 40px;
    margin-bottom: 10px;
    color: #213557;
    font-weight: 800;
}

.HomeHeroSectionInfo p{
    font-size: 18px;
    color: #555;
}

.HomeProductsSection {
  width: 100%;
  box-sizing: border-box;
  padding: 70px 80px;
}

.HomeProductsHead {
  font-size: 32px;
  color: #213557;
  margin-bottom: 10px;
  padding-left: 10px;
}

.HomeProducts {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
  width: 100%;
}

