.detailMainContainer{
    display: flex;
    justify-content: center;
}
.detailContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  background-color: white;
  padding: 10px;
  border: 1px solid rgb(224, 224, 224);
  margin-top: 50px;
  max-width: min-content;
}

.detailAllContentContainer{
    padding: 15px;
    display: flex;
    flex-direction: column;
    top: -30px;
    position: relative;
}

.detailAllContentContainer h1{
    color: #213557;
}

.detailTexContentNew{
    color: #316ed7;
    font-weight: 500;
}

.detailTexContentPrice{
    font-size: 25px;
}

.detailTextBottomMidSectionContainer{
  margin-top: 15px;
  margin-bottom: 50px;
  display: flex;
  flex-direction: row;
  border-top: 1px solid rgb(226, 223, 223);
  border-bottom: 1px solid rgb(226, 223, 223);
  background-color: #fdfdfe;
}

.detailTextBottomMidSection{
    display: flex;
    gap: 5px;
    padding: 10px;
    text-align: left;
}

.detailTextContainerButton{
    display: flex;
    justify-content: center;
    justify-content: space-between;
}

.detailTextContainerButtonAdd{
    background-color: rgb(59, 102, 181);
    padding: 9px;
    border: none;
    border-radius: 3px;
    color: whitesmoke;
    font-weight: 600;
    width: 260px;
    cursor: pointer;
}

.detailTextContainerButtonCart{
    background-color: rgb(252, 253, 255);
    padding: 9px;
    border: 1px solid  #859ecb;
    border-radius: 3px;
    color:  rgb(59, 102, 181);
    font-weight: 600;
    width: 260px;
    cursor: pointer;
}

.detailTextbottomWarranty{
    display: flex;
    padding-top: 50px;
    gap: 10px;
    margin-left: 70px;
}

.detailTextbottomWarrantyDiv{
    border-right: 2px solid rgb(187, 186, 186) ;
    padding-right: 20px;
}