.footerMainContainer {
  width: 100%;
  background-color: white;
  box-shadow: 0px 0px 10px 2px rgb(233, 232, 232);
  padding: 40px 20px;
  font-family: "Inter", sans-serif;
}

.footerContent {
  width: 100%;
  background-color: white;
  display: flex;
  padding-left: 20px;
  padding-right: 20px;
}

.footerBrand {
  display: flex;
  flex-direction: column;
  gap: 14px;
  flex: 1 1 260px;
}

.footerLogo {
  width: 180px;
  height: auto;
  display: block;
}

.footerIcons {
  display: flex;
  gap: 37px;
  margin-top: 10px;

}

.footerColumn {
  min-width: 140px;
}

.footerColumn h4 {
  margin-bottom: 12px;
}

.footerColumn p {
  margin-bottom: 8px;
  color: rgb(70, 70, 70);
}