.ProductCardMainContainer {
  margin: 10px;
  box-shadow: 1px 2px 5px 3px rgb(213, 213, 213);
  border-radius: 3px;
  transition: ease-in;
  overflow: hidden;
  background-color: white;
}

.ProductCardMainContainer:hover {
  transform: scale(1.01);
  cursor: pointer;
  box-shadow: 1px 2px 20px 3px rgb(213, 213, 213);
}

.ProductCardMainContainer img {
  border-radius: 3px 3px 0 0;
  display: block;
}

.productCardContent {
  padding-bottom: 30px;
  color: #213557;
  font-style: italic;
}

.productCardContent h3 {
  font-weight: 900;
  font-size: 17px;
  padding: 10px;
}

.productCardContent p {
  padding-left: 10px;
}

.productCardButtons {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 10px;
}

.productCardButtonsDetailView {
  padding: 7px;
  border: 1px solid rgb(59, 102, 181);
  border-radius: 3px;
  text-decoration: none;
  font-size: 14px;
  font-style: normal;
  color: rgb(59, 102, 181);
  font-weight: 600;
}

.productCardButtonsDetailView:hover {
  transform: scale(1.01);
  border-color: rgb(41, 75, 137);
  color: rgb(52, 83, 141);
}

a {
  text-decoration: none;
  color: inherit;
}

.productCardButtonsAddToCart {
  padding: 8px;
  border-radius: 3px;
  color: whitesmoke;
  background-color: rgb(59, 102, 181);
  border: none;
  font-weight: 600;
  font-size: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.productCardButtonsAddToCart:hover {
  transform: scale(1.01);
  background-color: rgb(41, 75, 137);
  cursor: pointer;
}

.productInCartIcon {
  margin-right: 5px;
}